In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
file_path = Path('card_transaction.v1.csv')
new_df = pd.read_csv(file_path)
new_df.head()

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
0,0,0,2002,9,1,06:21,$134.09,Swipe Transaction,3527213246127876953,La Verne,CA,91750.0,5300,NaN,No
1,0,0,2002,9,1,06:42,$38.48,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
2,0,0,2002,9,2,06:22,$120.34,Swipe Transaction,-727612092139916043,Monterey Park,CA,91754.0,5411,NaN,No
3,0,0,2002,9,2,17:45,$128.95,Swipe Transaction,3414527459579106770,Monterey Park,CA,91754.0,5651,NaN,No
4,0,0,2002,9,3,06:23,$104.71,Swipe Transaction,5817218446178736267,La Verne,CA,91750.0,5912,NaN,No

In [9]:
df_07 =new_df.loc[new_df['Year']>2006]
# df_0719.to_csv('Transactions_2007_to_2019.csv')

In [10]:
df_07

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
1619,0,0,2007,1,1,06:48,$146.32,Swipe Transaction,2027553650310142703,Seattle,WA,98148.0,5541,NaN,No
1620,0,0,2007,1,2,07:03,$-426.00,Swipe Transaction,-8566951830324093739,Puyallup,WA,98373.0,3640,NaN,No
1621,0,0,2007,1,2,07:27,$126.03,Swipe Transaction,-8566951830324093739,Puyallup,WA,98373.0,3640,NaN,No
1622,0,0,2007,1,3,06:24,$121.71,Swipe Transaction,-34551508091458520,La Verne,CA,91750.0,5912,"Insufficient Balance,",No
1623,0,0,2007,1,5,13:06,$13.44,Swipe Transaction,-4500542936415012428,La Verne,CA,91750.0,5814,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24386895,1999,1,2020,2,27,22:23,$-54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386896,1999,1,2020,2,27,22:24,$54.00,Chip Transaction,-5162038175624867091,Merrimack,NH,3054.0,5541,NaN,No
24386897,1999,1,2020,2,28,07:43,$59.15,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386898,1999,1,2020,2,28,20:10,$43.12,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No
24386899,1999,1,2020,2,28,23:10,$45.13,Chip Transaction,4751695835751691036,Merrimack,NH,3054.0,5814,NaN,No

In [11]:
df_2 = df_07.loc[df_07['Year']<2020]
df_2

,User,Card,Year,Month,Day,Time,Amount,Use Chip,Merchant Name,Merchant City,Merchant State,Zip,MCC,Errors?,Is Fraud?
1619,0,0,2007,1,1,06:48,$146.32,Swipe Transaction,2027553650310142703,Seattle,WA,98148.0,5541,NaN,No
1620,0,0,2007,1,2,07:03,$-426.00,Swipe Transaction,-8566951830324093739,Puyallup,WA,98373.0,3640,NaN,No
1621,0,0,2007,1,2,07:27,$126.03,Swipe Transaction,-8566951830324093739,Puyallup,WA,98373.0,3640,NaN,No
1622,0,0,2007,1,3,06:24,$121.71,Swipe Transaction,-34551508091458520,La Verne,CA,91750.0,5912,"Insufficient Balance,",No
1623,0,0,2007,1,5,13:06,$13.44,Swipe Transaction,-4500542936415012428,La Verne,CA,91750.0,5814,NaN,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24386727,1999,1,2019,12,30,11:38,$66.53,Chip Transaction,2910328604019547969,Milford,NH,3055.0,7538,NaN,No
24386728,1999,1,2019,12,30,12:03,$99.67,Chip Transaction,1641456720718814353,Merrimack,NH,3054.0,5411,NaN,No
24386729,1999,1,2019,12,30,18:44,$93.63,Chip Transaction,-5501892381419303127,Merrimack,NH,3054.0,5651,NaN,No
24386730,1999,1,2019,12,30,20:09,$67.60,Online Transaction,-6160036380778658394,ONLINE,NaN,NaN,4121,NaN,No
24386731,1999,1,2019,12,31,20:26,$51.71,Chip Transaction,2500998799892805156,Merrimack,NH,3054.0,4121,NaN,No

In [14]:
df_2['Is Fraud?'].value_counts()

No     20191733
Yes       26717
Name: Is Fraud?, dtype: int64

In [16]:
df_2.to_csv('Transactions0719.csv')